<div
  class="min-vh-100 d-flex align-items-center justify-content-center bg-light"
>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLogin()"
    class="bg-white p-4 rounded shadow w-100"
    style="max-width: 400px"
  >
    <h2 class="h4 fw-bold mb-4 text-center">Autenticación</h2>

    <div class="mb-3">
      <label class="form-label">Nombre usuario</label>
      <input type="text" formControlName="username" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>

    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary w-100"
    >
      Login
    </button>

    <div *ngIf="loginError" class="alert alert-danger mt-3" role="alert">
      Error en autenticación : credenciales incorrectas
    </div>
  </form>
</div>
